<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<array>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>20</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPhone Notification</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>20</integer>
			<key>scale</key>
			<integer>3</integer>
			<key>use</key>
			<string>iPhone Notification</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>29</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPhone Settings</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>29</integer>
			<key>scale</key>
			<integer>3</integer>
			<key>use</key>
			<string>iPhone Settings</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>40</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPhone Spotlight</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>40</integer>
			<key>scale</key>
			<integer>3</integer>
			<key>use</key>
			<string>iPhone Spotlight</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPhone App</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>3</integer>
			<key>use</key>
			<string>iPhone App</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPhone</string>
			<key>size</key>
			<integer>1024</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>iPhone AppStore</string>
			<key>system_version</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>iPad</key>
	<array>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>20</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>iPad Notification</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>20</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPad Notification</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>29</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>iPad Settings</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>29</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPad Settings</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>40</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>iPad Spotlight</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>40</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPad Spotlight</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>76</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>iPad App</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<integer>76</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPad App</string>
			<key>system_version</key>
			<string>iOS 7 - 13</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>iPad</string>
			<key>size</key>
			<real>83.5</real>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>iPad Pro App</string>
			<key>system_version</key>
			<string>iOS 9 - 13</string>
		</dict>
	</array>
	<key>Mac</key>
	<array>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>16</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>16</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>32</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>32</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>128</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>128</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>256</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>256</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>512</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>idiom</key>
			<string>Mac</string>
			<key>size</key>
			<integer>512</integer>
			<key>scale</key>
			<integer>2</integer>
			<key>use</key>
			<string>Mac</string>
			<key>system_version</key>
			<string>macOS</string>
		</dict>
	</array>
</dict>
</plist>
